@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4 {
  font-family: "Montserrat"; }

h1 {
  font-size: 190%;
  margin-bottom: 0.7em;
  font-weight: 700; }

h2 {
  font-size: 150%;
  margin-bottom: 0.5em;
  font-weight: 600; }

a {
  text-decoration: none;
  color: black; }

p, ul, li, a {
  font-family: "Roboto", "sans-serif";
  font-weight: 300; }

p {
  margin: 5px 0; }

ul {
  margin-bottom: 0.5em;
  width: 70%; }
  ul li {
    text-align: left;
    margin: 5px 0; }
  ul ul {
    margin: 0.5em 1.5em; }
  ul .f {
    font-size: 120%;
    font-weight: 500; }
  ul .s {
    font-size: 110%;
    font-weight: 400; }

strong {
  font-weight: 400; }

.slides {
  width: 100% !important; }

.slide {
  background-color: #EEFAFA; }

.logo-wrapper {
  position: absolute;
  top: 3em;
  left: 3em; }

.slide-item {
  display: flex !important;
  flex-direction: column;
  height: 100% !important;
  width: 90%;
  margin: auto;
  padding: 0 !important; }

.slide-two {
  flex-direction: row; }
  .slide-two .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #fff;
    margin: 2.5rem 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; }
    .slide-two .text-wrapper .content {
      min-height: 65%; }
  .slide-two .illu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding: 0 3em;
    margin: 2.5rem 0; }

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 30px 5px #C1BFBF9C;
  border-radius: 1rem;
  padding: 2em;
  min-height: 450px; }
  .text-wrapper .title {
    position: absolute;
    top: 1em;
    right: 0;
    left: 0;
    margin: auto; }

.slide-presentation {
  justify-content: center; }
  .slide-presentation .illu-wrapper img {
    max-width: 80%; }
  .slide-presentation .avengers {
    position: absolute;
    bottom: 1em;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 80%;
    color: white;
    z-index: 10;
    font-weight: 500; }
  .slide-presentation img {
    width: 85%;
    position: absolute;
    bottom: 0; }

.slide-pres {
  flex-direction: row !important;
  justify-content: center; }
  .slide-pres h3 {
    font-size: 120%;
    font-weight: 600;
    margin: 1.5em 0;
    color: #d84a4a; }
  .slide-pres .text-wrapper {
    width: 40%; }

.slide-2 .text-wrapper {
  width: 50%;
  margin: auto; }

.slide-equipe {
  width: 50%; }
  .slide-equipe ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em; }
    .slide-equipe ul li {
      display: flex;
      width: 45%;
      margin: 1em 0;
      padding: 1em;
      border-radius: 1em;
      cursor: pointer;
      transition: all 0.3s ease-in-out; }
      .slide-equipe ul li:hover {
        background-color: rgba(196, 196, 196, 0.3); }
      .slide-equipe ul li img {
        max-width: 100px;
        border-radius: 1em; }
      .slide-equipe ul li .infos {
        display: flex;
        flex-direction: column;
        padding-left: 1em; }
        .slide-equipe ul li .infos .role {
          font-weight: 900; }
        .slide-equipe ul li .infos .name {
          color: #858585;
          font-size: 80%;
          margin-top: 0.5em; }

.slide-demo {
  position: relative; }
  .slide-demo img {
    width: 70%;
    max-width: 80vw;
    border-radius: 1em;
    box-shadow: 0 0 30px 5px rgba(191, 191, 191, 0.9); }
  .slide-demo .title {
    position: absolute;
    top: 1em;
    right: 0;
    left: 0;
    margin: auto; }

.slide-teletravail div img {
  max-height: 70px; }

.slide-orga .illu-wrapper {
  justify-content: center;
  padding: 0; }

.slide-orga .text-wrapper {
  width: 40%; }
  .slide-orga .text-wrapper h2 {
    display: flex;
    align-items: center;
    margin: 0.8em 0 0.3em 0; }
    .slide-orga .text-wrapper h2 img {
      max-height: 25px;
      margin-right: 10px; }
  .slide-orga .text-wrapper h2, .slide-orga .text-wrapper p {
    text-align: left; }

.slide-devfront .text-wrapper h2 {
  display: flex;
  align-items: center;
  margin: 0.3em 0;
  width: 60%; }
  .slide-devfront .text-wrapper h2 img {
    max-height: 25px;
    margin-right: 10px;
    margin-left: 30px; }

.slide-devfront .text-wrapper h2, .slide-devfront .text-wrapper p {
  text-align: left; }

.slide-depos h1 img {
  max-height: 25px;
  margin-right: 25px; }

.slide-depos .wrapper-depo {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%; }
  .slide-depos .wrapper-depo div {
    border-radius: 1em;
    margin: 0.5em;
    padding: 1em;
    background-color: rgba(196, 196, 196, 0.3);
    width: 150px;
    height: 150px;
    transition: all 0.3s ease-in-out; }
    .slide-depos .wrapper-depo div:hover {
      box-shadow: 0 0 30px 5px rgba(191, 191, 191, 0.9); }
    .slide-depos .wrapper-depo div h2 {
      font-size: 100%;
      color: white; }
    .slide-depos .wrapper-depo div img {
      width: 80%; }

.slide-tests .text-wrapper .wrapper-depo h2 {
  color: black; }

.slide-tests .text-wrapper .wrapper-depo img {
  max-width: 50%;
  margin-top: 15px; }

.slide-deploiement .text-wrapper {
  background-color: transparent;
  box-shadow: none; }

.slide-deploiement img {
  margin-top: 50px;
  box-shadow: 0 0 30px 5px #C1BFBF9C;
  border-radius: 20px; }

.slide-backlog {
  align-items: center;
  justify-content: center; }
  .slide-backlog .text-wrapper {
    width: 40%; }
    .slide-backlog .text-wrapper .content {
      width: 90%; }
      .slide-backlog .text-wrapper .content ul {
        width: 100%; }
  .slide-backlog h3 {
    margin: 5px;
    font-weight: 500;
    font-size: 120%; }
    .slide-backlog h3:first-of-type {
      margin-top: 50px; }
  .slide-backlog .illu-wrapper {
    width: 40%; }
    .slide-backlog .illu-wrapper img {
      width: 80%;
      box-shadow: 0 0 30px 5px #C1BFBF9C; }

.slide-pb h2, .slide-pb h3 {
  width: 85%;
  text-align: left; }

.slide-pb h2 {
  margin: 0.5em 0; }

.slide-pb h3 {
  margin: 0.2em 0;
  margin-left: 2.5em; }

.slide-conclu h3 {
  font-weight: 500;
  margin: 10px; }
  .slide-conclu h3:first-of-type {
    margin-top: 50px; }

.inline {
  margin-top: 4em; }

.inline li {
  display: inline;
  margin-right: 3em; }

.reveal .progress {
  height: 6px; }
  .reveal .progress span {
    background-color: #d84a4a; }
