// My theme

// FONTS

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@mixin transition(){
    transition: all 0.3s ease-in-out;
}

$roboto: 'Roboto', 'sans-serif';
$montserrat: 'Montserrat';

// COLORS
$bleuClaire: #EEFAFA;
$gris: #858585;
$rouge: #d84a4a;

// Generics
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4{
    font-family: $montserrat;
}
h1{
    font-size: 190%;
    margin-bottom: 0.7em;
    font-weight: 700;
}
h2{
    font-size: 150%;
    margin-bottom: 0.5em;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: black;
}
p, ul, li, a{
    font-family: $roboto;
    font-weight: 300;
}
p{
    margin: 5px 0;
}
ul{
    margin-bottom: 0.5em;
    width: 70%;
    // list-style: none;
    li{
        text-align: left;
        margin: 5px 0;
    }
    ul{
        margin: 0.5em 1.5em;
    }
    .f{
        font-size: 120%;
        font-weight: 500;
        // margin-bottom: 1em;
    }
    .s{
        font-size: 110%;
        font-weight: 400;
    }
}
strong{
    font-weight: 400;
}
.slides{
    width: 100% !important;
}
.slide{
    background-color: $bleuClaire;
}

.logo-wrapper{
    position: absolute;
    top: 3em;
    left: 3em;
}

.slide-item{
    display: flex !important;
    flex-direction: column;
    height: 100% !important;
    width: 90%;
    margin: auto;
    padding: 0 !important;
}
.slide-two{
    flex-direction: row;
    .text-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: #fff;
        margin: 2.5rem 0;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        .content{
            min-height: 65%;
        }
    }
    .illu-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        padding: 0 3em;
        margin: 2.5rem 0;
    }
}


.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 30px 5px #C1BFBF9C;
    border-radius: 1rem;
    padding: 2em;
    min-height: 450px;
    .title{
        position: absolute;
        top: 1em;
        right: 0;
        left: 0;
        margin: auto;
    }
}
.slide-presentation{
    justify-content: center;
    .illu-wrapper img{
        max-width: 80%;
    }
    .avengers{
        position: absolute;
        bottom: 1em;
        right: 0;
        left: 0;
        margin: auto;
        font-size: 80%;
        color: white;
        z-index: 10;
        font-weight: 500;
        // box-shadow: 0 0 30px 5px #C1BFBF9C;
    }
    img{
        width: 85%;
        position: absolute;
        bottom: 0;
    }
}
.slide-pres{
    flex-direction: row !important;
    justify-content: center;
    h3{
        font-size: 120%;
        font-weight: 600;
        margin: 1.5em 0;
        color: $rouge;
    }
    .text-wrapper{
        width: 40%;
    }
}
.slide-2{
    .text-wrapper{
        width: 50%;
        margin: auto;
    }
}
.slide-equipe{
    width: 50%;
    ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 4em;
        li{
            display: flex;
            width: 45%;
            margin: 1em 0;
            padding: 1em;
            border-radius: 1em;
            cursor: pointer;
            @include transition;
            &:hover{
                background-color: rgba(196, 196,196, 0.3);
            }
            img{
                max-width: 100px;
                border-radius: 1em;
            }
            .infos{
                display: flex;
                flex-direction: column;
                padding-left: 1em;
                .role{
                    font-weight: 900;
                }
                .name{
                    color: $gris;
                    font-size: 80%;
                    margin-top: 0.5em;
                }
            }
        }
    }
}
.slide-demo{
    position: relative;
    img{
        width: 70%;
        max-width: 80vw;
        border-radius: 1em;
        box-shadow: 0 0 30px 5px rgba(191, 191, 191, 0.9);
    }
    .title{
        position: absolute;
        top: 1em;
        right: 0;
        left: 0;
        margin: auto;
    }
}
.slide-teletravail{
    div{
        img{
            max-height: 70px;
        }
    }
}
.slide-orga{
    .illu-wrapper{
        justify-content: center;
        padding: 0;
    }
    .text-wrapper{
        width: 40%;
        h2{
            display: flex;
            align-items: center;
            margin: 0.8em 0 0.3em 0;
            img{
                max-height: 25px;
                margin-right: 10px;
            }
        }
        h2, p{
            text-align: left;
        }
    }
}
.slide-devfront{
    .text-wrapper{
        h2{
            display: flex;
            align-items: center;
            margin: 0.3em 0;
            width: 60%;
            img{
                max-height: 25px;
                margin-right: 10px;
                margin-left: 30px;
            }
        }
        h2, p{
            text-align: left;
        }
    }
}
.slide-depos{
    h1{
        img{
            max-height: 25px;
            margin-right: 25px;
        }
    }
    .wrapper-depo{
        margin-top: 3em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        div{
            border-radius: 1em;
            margin: 0.5em;
            padding: 1em;
            background-color: rgba(196, 196,196, 0.3);
            width: 150px;
            height: 150px;
            @include transition();
            &:hover{
                box-shadow: 0 0 30px 5px rgba(191, 191, 191, 0.9);
            }
            h2{
                font-size: 100%;
                color: white;
            }
            img{
                width: 80%;
            }
        }
    }
}
.slide-tests{
    .text-wrapper .wrapper-depo{
        h2{
            color: black;
        } 
        img{
            max-width: 50%;
            margin-top: 15px;
        }
    }
}
.slide-deploiement{
    .text-wrapper{
        background-color: transparent;
        box-shadow: none;
    }
    img{
        margin-top: 50px;
        box-shadow: 0 0 30px 5px #C1BFBF9C;
        border-radius: 20px;
    }
}
.slide-backlog{
    align-items: center;
    justify-content: center;
    .text-wrapper{
        width: 40%;
        .content{
            width: 90%;
            ul{
                width: 100%;
            }
        }
    }
    h3{
        &:first-of-type{
            margin-top: 50px;
        }
        margin: 5px;
        font-weight: 500;
        font-size: 120%;
    }
    .illu-wrapper{
        width: 40%;
        img{
            width: 80%;
            box-shadow: 0 0 30px 5px #C1BFBF9C;
        }
    }
}
.slide-pb{
    h2, h3{
        width: 85%;
        text-align: left;
    }
    h2{
        margin: 0.5em 0;
    }
    h3{
        margin: 0.2em 0;
        margin-left: 2.5em;
    }
}
.slide-conclu{
    h3{
        font-weight: 500;
        margin: 10px;
        &:first-of-type{
            margin-top: 50px;
        }
    }
}
.inline{
    margin-top: 4em;
}

.inline li{
    display: inline;
    margin-right: 3em;
}

.reveal .progress{
    height: 6px;
    span{
        background-color: #d84a4a;
    }
}